@import "tailwindcss";

@layer base {
  body{
      font-family: "Gabarito", sans-serif;
      background-color: #f5f5f5;
  }
}

@theme {
  --color-primary: #850909;
  --color-primary-100: #FDE7E7;
  --color-primary-200: #FABCBC;
  --color-primary-300: #F79191;
  --color-primary-400: #F46666;
  --color-primary-500: #F13B3B;
  --color-primary-600: #EE1111;
  --color-primary-700: #C40E0E;
}